<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/">
  </head>
  <body class="landing" data-is-homepage="true">
    <%= render '/header.*' %>
    <%= yield %>
    <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
    <%= render '/schema-microdata.*' %>
    <script src="/assets/vendor/vue.min.js"></script>
    <script src="/assets/vendor/jquery.slim.min.js"></script>
    <script src="/assets/vendor/bootstrap.bundle.min.js"></script>

    <script src="<%= @items['/frontend/header/index.*'].path %>"></script>
    <script src="<%= @items['/frontend/default/default.*'].path %>"></script>
    <script src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
    <% if @config[:search_backend] == "google" %>
    <script src="<%= @items['/frontend/search/google.*'].path %>"></script>
    <script src="<%= @items['/frontend/search/recently_viewed.*'].path %>"></script>
    <% else %>
    <script src="<%= @items['/frontend/search/lunrsearch.*'].path %>"></script>
    <% end %>
  </body>
</html>
